//_Colors :
  $minColor: #40e24d;
  $headerBackgroundColor: #49498e;
  $ridColor:  #ec4b4b;
  $bodyBacColor: #e7ebef;
  $headingColor: #9390c1;
//_fonts :
  $textFontFamily: Gabriola;
//_items & sizeing :
  $minWidth :100%;  //_the min size.
//_floats :
  $f_lefe : left;
  $f_right : right;
